<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="component" label="Configuration">
		<field name="paypal_email" type="text" default="info@lismullin.ie"
			label="Paypal Email Address" description="Merchant Paypal account"
			size="70" />
		<field name="component_email" type="text" default="info@lismullin.ie"
			label="COM_SALESFORCE_SEND_EMAIL_TO_ADDRESS" description="COM_SALESFORCE_COMPONENT_EMAIL"
			size="70"/>			
	</fieldset>
	<fieldset name="salesforce" label="Salesfoce Configuration">
		<field name="salesforce_email" type="text" default="foysal.iqbal@gmail.com"
			label="COM_SALESFORCE_SALESFORCE_EMAIL" description="COM_SALESFORCE_SALESFORCE_EMAIL_DESC"
			size="70"/>
		<field name="salesforce_password" type="text" default="lismullin15"
			label="COM_SALESFORCE_SALESFORCE_PASSWORD" description="COM_SALESFORCE_SALESFORCE_PASSWORD_DESC"
			size="70"/>
		<field name="salesforce_security_token" type="text" default="9WEMkp6pAGw0Z8mfluRCh1uVl"
			label="COM_SALESFORCE_SALESFORCE_SECURITY_TOCKEN" description="COM_SALESFORCE_SALESFORCE_SECURITY_TOCKEN_DESC"
			size="70"/>				
	</fieldset>
</config>

