.course-srch-input{
	height: 35px !important;
}

.fa.fa-info-circle{
	color: #1E90FF;
	cursor: pointer;
}
td.course-details-td{
	text-align: right !important;
	padding-right:30px !important;
	font-weight: bold;
}
a.sortable-a{
	cursor: pointer;
}
td > input{
	height: 40px !important;
}
td > select{
	width: 100%;
	height: 40px !important;
}
#booking-data-table{
	width: 80%;
	margin-left: 5%;
}
.invalid{
	border-color: red !important;
	color: black !important;
}
button.paypal-btn{
	background-image: url(https://www.paypalobjects.com/webstatic/en_US/btn/btn_paynow_cc_144x47.png);
    background-color: transparent; 
    background-repeat: no-repeat;  	
	border:none;
	width: 144px;
	height: 47px;
	cursor: pointer;
}

div.bill-add{
	margin-top: 40px;
}
table.tbl-book-detail{
	margin-top: 40px;
}
td.lbl{
	width: 40% !important;
	padding-left: 30px !important;
}

.edit-btn{
	margin-right: 35px !important;
}

.cr-btn{
	float: right;
}
.disclamir{
	font-style: italic;
	font-size: small;
	font-family: -webkit-body;
}
.notclick{	
	color: #B38F00;
}
.anual-info{
	color: #B38F00 !important;
}